body {
	background-color: lightgray;
}

#header {
	background-color: black;
	color: red;
	xpadding-top: 2vh;
	xpadding-bottom: 2vh;
	margin-bottom: 3vh;
	font-size: 7vmin;
}

img#logo {
	height: 12vmin;
	width:  12vmin;
	margin-left: 12vmin;
}

img.fitbox {
	object-fit: contain;
	background-color: gray;
}

img.fitbox.small, img.fitbox#focus-small {
	border: 1px solid black;
}


img.big {
	width:  100%;
	height: 58vh;
	display: block;
	margin: 0 auto;
	qwidth:  50vw;
	qheight: 50vh;
}

.small {
	width: 4vw;
	height: 4vw;
	margin-top:    2vw;
	margin-bottom: 1vw;
	margin-left:   0.3vw;
	margin-right:  0.3vw;
}

a {outline: none;}

#focus-small {
	width:  4vw;
	height: 4vw;
	margin-top:    1vw;
	margin-bottom: 2vw;
	margin-left:   0.3vw;
	margin-right:  0.3vw;
}

div#big-one {
	margin: auto;
}

div#test-pager-strip {
	background-color: darkgray;
	margin: auto;
	text-align: center;
}

img.navigation {
	object-fit: fill;
	width:  2vw;
	height: 5vw;
	margin-top:    3vh;
	background-color: white;
}

img#left  {
	float: left;
	margin-left: 0.5vw;
	margin-right: 0;
}
img#right {
	float: right;
	margin-right: 0.5vw;
	margin-left: 0;
}

.hidden {
	visibility: hidden;
}

.notdisplayed-left, .notdisplayed-right {
	display: none;
}
